<div class="bg-light border pt-5">
  <div class="container py-4 mt-5">
    <%= form_tag(user_feeds_path, :method => "get", class:'form-group')  do %>
      <div class="input-group">
        <%= text_field_tag :q, params[:q], class:'form-control', placeholder: "Search Posts, Categories, Topics..." %>
        <span class="input-group-btn">
          <%= submit_tag("Search",class:'btn btn-primary')%>
        </span>
      </div>
    <% end %>
  </div>
</div>
