<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
  <strong>Id:</strong>
  <%=  link_to @department.id, user_show_feeds_path(@department.id) %>
</p>

<%= link_to '<<Back', user_departments_path %>
