<% content_for :top_content do %>
<div id="index-content" class="">
  <section id="index-jumbotron" class="jumbotron text-white py-5 mb-3  rounded-0">
    <div id="header-blue" class="bg-primary"></div>
    <div class="container py-5">
      <h2 class="display-3">Search.</h1>
      <h2 class="display-3">Subcribe.</h1>
      <h2 class="display-3">Get Notified.</h1>
      <h3 class="lead py-3">
        Get information from you organization instantly with the help of InfoTap.<br />
        Infotap provides your organization with a flow of communication from high to low level users so that
        your organization can get rid of the conventional methods of information passing such as notice, phone, email..,
        and get on to InfoTap a personalized framework to make the workflow better.
        Get inside to know more...
      </h3>
      <p class="lead pt-5">
        Sign up to get updates from your  on the go...
      </p>
        <div class="row py-3">
          <div class="col-md-4">
            <%= link_to 'Sign Up', new_user_registration_path, :class => 'w-75 btn btn-success btn-lg' %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Sign In', new_user_session_path, :class => 'w-75 btn btn-outline-light btn-lg' %>
          </div>
        </div>
    </div>
  </section>
  <section id="why" class="jumbotron bg-light text-dark py-5 mb-0">
    <h1 class="text-center display-3">Why InfoTap?</h1>

     <div class=" py-5 text-center ">
      <div class="row py-5">
        <div class="col-md-4">
          <i class="fa fa-smile display-3 my-3"></i>
          <h2 class="display-4 text-success">Easy</h1>
            <h3 class="lead py-3">
              Infotap is easy to use and infact easier than conventions systems in more ways.
            </h3>
          </div>
          <div class="col-md-4">
          <i class="fa fa-fighter-jet display-3 my-3"></i>
          <h2 class="display-4 text-success">Fast</h1>
            <h3 class="lead py-3">
              The communcation between web articles and its people is done without any kind of delays.
            </h3>
          </div>
          <div class="col-md-4">
          <i class="fa fa-lock display-3 my-3"></i>
          <h2 class="display-4 text-success">Solid</h1>
          <h3 class="lead py-3">
            Through various algorithms we provide means by which users gets information.
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section id="updates" class="jumbotron bg-dark text-white py-5 pb-5 text-center">
      <h1 class=" text-center">
        Sign up to get updates from your  on the go...
      </h1>
      <div class="text-center py-5">
        <%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-primary btn-lg w-50' %>
      </div>
  </section>

</div>
<% end %>
