<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.email %>
</p>
<%= link_to ' << Feeds List ', admin_users_path%>
